<!--
  Generated template for the Stats page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
  <ion-toolbar style="color: white" color="headerblue">
    <ion-buttons slot="start">
      <ion-button (click)="ToggleMenuBar()" fill="clear">
        <ion-icon
          style="margin-left: 5px"
          class="toggleButton"
          name="menu"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <button ion-button (click)="ToggleMenuBar()">
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title class="toptitle"> STATISTICS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="statsbanner">
    <img src="assets/images/stats.png" alt=" stats" />
  </section>
  <section class="stat-list">
    <ion-list>
      <ion-item class="statlist-paddingleft">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="statcustom-padding">
              <p style="color: white">Last Bill</p>
            </ion-col>
            <ion-col size="2.5" class="no-padding"
              ><img src="assets/images/pin.png" alt="pin"
            /></ion-col>
            <ion-col size="3.5" class="no-padding"
              ><span
                >{{last_billing_ammount ? "$" + last_billing_ammount :
                "0"}}</span
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="statlist-paddingleft">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="statcustom-padding">
              <p style="color: white">Today’s Earning</p>
            </ion-col>
            <ion-col size="2.5" class="no-padding"
              ><img src="assets/images/pin.png" alt="pin"
            /></ion-col>
            <ion-col size="3.5" class="no-padding"
              ><span>{{todays_earning ? "$" + todays_earning : "0"}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="statlist-paddingleft">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="statcustom-padding">
              <p style="color: white">Earnings This Week</p>
            </ion-col>
            <ion-col size="2.5" class="no-padding"
              ><img src="assets/images/pin.png" alt="pin"
            /></ion-col>
            <ion-col size="3.5" class="no-padding"
              ><span
                >{{weeks_earning ? "$" + weeks_earning : "0"}}</span
              ></ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="statlist-paddingleft">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="statcustom-padding">
              <p style="color: white">Earnings This Month</p>
            </ion-col>
            <ion-col size="2.5" class="no-padding"
              ><img src="assets/images/pin.png" alt="pin"
            /></ion-col>
            <ion-col size="3.5" class="no-padding"
              ><span>{{months_earning ? "$" + months_earning : "0"}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item class="statlist-paddingleft">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="statcustom-padding">
              <p style="color: white">Lifetime Earnings</p>
            </ion-col>
            <ion-col size="2.5" class="no-padding"
              ><img src="assets/images/pin.png" alt="pin"
            /></ion-col>
            <ion-col size="3.5" class="no-padding"
              ><span>{{LifetimeBookings ? "$" + LifetimeBookings : "0"}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="statlist-paddingleft">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="statcustom-padding">
              <p style="color: white">Completed Bookings</p>
            </ion-col>
            <ion-col size="2.5" class="no-padding"
              ><img src="assets/images/pin.png" alt="pin"
            /></ion-col>
            <ion-col size="3.5" class="no-padding"
              ><span> {{completedBookings}}</span></ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="statlist-paddingleft">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="statcustom-padding">
              <p style="color: white">Ratings</p>
            </ion-col>
            <ion-col size="2.5" class="no-padding"
              ><img src="assets/images/pin.png" alt="pin"
            /></ion-col>
            <!--<ion-col size="3.5" class="no-padding"><span>$00.00</span></ion-col>-->
            <ion-col size="3.5" class="no-padding"
              ><span>{{avgRatings ?? 0}}</span></ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
