.statsbanner {
  width: 100%;
  background: url("/assets/images/statback.png") no-repeat;
  background-size: cover;
  padding: 40px 0;
}
.statsbanner img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 25%;
  border: 1px solid #fff;
}
.stat-list p {
  font-family: "PT Sans";
  font-size: 17px;
  color: #2b2b2b;
  text-align: left;
  margin: 0;
  padding-left: 8px;
}
.stat-list img {
  display: block;
  margin: 0 auto;
}
.stat-list span {
  color: #4267b2;
  text-align: right;
  display: block;
  font-size: 21px;
}
.statlist-paddingleft {
  padding-left: 0px !important;
}
.statcustom-padding {
  padding: 3px 0 0 0;
}
.header {
  background-color: #1e1e1e;
}