page-bid-price {
  .marker {
    margin-right: 10%;
  }
  .loaction {
    font-size: 15px;
  }
  .marker img {
    padding-top: 0px !important;
  }
  .last-row {
    border-bottom: 1px dotted #000;
    padding-bottom: 10px;
    margin-bottom: 7px;
  }
  .detail {
    margin-left: 6%;
    color: #ccc7c7;
    font-size: 15px;
  }
  .next-row {
    color: #ccc7c7 !important;
  }
  // .detail-card {
  //   // border:0px;
  //   background-color: #fff;
  // }
  .detail span {
    // color:#000;
  }
  .addOn {
    background-color: #4266b2;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .addOn ion-icon {
    margin-top: 4px;
  }
  .bid-rate {
    font-size: 15px;
    text-align: center;
    margin: 7px;
  }
  .submit-bid {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    background-color: #4266b2;
    color: #fff;
  }
  .cust-name {
    text-align: center;
    color: #000;
  }
  .bid-color {
    color: green;
  }
  .customcard {
      --color: black;
    }
}
