<!--
  Generated template for the BidPricePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="headerblue">
    <ion-icon
      class="toggleButton"
      name="menu"
      (click)="ToggleMenuBar()"
    ></ion-icon>
    <!-- <button ion-button (click)="ToggleMenuBar()">
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title class="toptitle"><span class="heavy">BID PRICE</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="detail">Job Detail</p>
  <ion-card class="customcard">
    <ion-card-content class="customcard">
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col class="customcardbody">
            <img
              src="{{jobs.customer_image}}"
              style="height: 70px; width: 100px"
              onerror="this.onerror=null;this.src='assets/images/notfound.png';"
            />
            <h2 class="cust-name">{{jobs.customer_name}}</h2>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 24px">
          <ion-col width-10 class="marker">
            <img src="assets/images/car.png" />
          </ion-col>

          <ion-col width-90 class="no-padding">
            <p class="loaction">
              <strong
                >{{jobs.tripdate.substring(8,10)}}{{jobs.tripdate.substring(4,8)}}{{jobs.tripdate.substring(0,4)}}
                {{jobs.tripdate.substring(11,16)}}</strong
              >
            </p>
            <!-- <p class="loaction" ><strong>Sat, 6 Jan 12:56 PM</strong></p>  -->
          </ion-col>
        </ion-row>
        <ion-row class="last-row">
          <ion-col width-10 class="marker"> </ion-col>

          <ion-col width-90 class="no-padding">
            <p class="loaction">{{jobs.transmission}} : {{jobs.serviceType}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-20 class="next-row">
            <p class="loaction next-row"><strong> From</strong>:</p>
          </ion-col>

          <ion-col width-80 class="no-padding">
            <p class="loaction next-row">{{selected.pickup}}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="jobs.serviceType == 'Pickup' ">
          <ion-col width-20 class="next-row">
            <p class="loaction next-row"><strong>To</strong>:</p>
          </ion-col>

          <ion-col width-80 class="no-padding">
            <p class="loaction next-row">{{selected.drop}}</p>
          </ion-col>
          <!-- <p *ngIf="job.serviceType == 'Personal driver' "><span>Trip Time</span> : {{job.triptime}} hours</p> -->
        </ion-row>
        <ion-row *ngIf="jobs.serviceType == 'Personal driver' ">
          <ion-col width-20 class="next-row">
            <p class="loaction next-row"><strong>Trip Time</strong>:</p>
          </ion-col>

          <ion-col width-80 class="no-padding">
            <p class="loaction next-row">{{jobs.triptime}} minutes</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="customcard detail-card">
    <section>
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col (tap)="changeBid('dec')" width-25 class="addOn">
            <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
          </ion-col>

          <ion-col width-50 class="no-padding">
            <p class="bid-rate" [ngClass]="setMyClasses()">
              <strong>${{biddingLimit.biddingPrice.toFixed(2)}} </strong>
            </p>
            <!-- <input class="field" type="text" name="Bid Price" placeholder="Name" [(ngModel)]="biddingLimit.biddingPrice"> -->
          </ion-col>
          <ion-col width-25 class="addOn" (tap)="changeBid('inc')">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </ion-card>
  <p class="detail" style="color: #000">
    Estimated fare is
    <span><strong>${{jobs.estimate.toFixed(2)}} </strong></span>.
    {{biddingLimit.bidText}}
  </p>

  <ion-card class="customcard detail-card" style="margin-top: 3%">
    <button class="submit-bid" (click)="okSchedule()">Submit Your Bid</button>
  </ion-card>
</ion-content>
