<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title class="toptitle"><span class="heavy">BOOKING</span></ion-title>

    <!-- <ion-icon
      color="primary"
      name="navigate"
      class="toggleButton"
      (click)="routePickup(booking?.pickup.add,'',booking?.serviceType)"
    ></ion-icon> -->
    <ion-icon slot="end" name="locate" style="--color: var(--ion-color-light); font-size: 3vh" class="ion-margin-end"
      (click)="routePickup(booking?.pickup.add,'',booking?.serviceType)">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" #map></div>

  <section class="mapcontainer">
    <div class="container">
      <!-- <section class="topnotification-wrapper">
        <section class="topnotification">
          <ion-grid class="no-padding">
            <ion-item>
              <img src="assets/images/marker.png">
              <ion-label>
                {{booking?.pickup.add}}
              </ion-label>
            </ion-item>
            <ion-row>
              <ion-col size="1" class="marker">

              </ion-col>
              <ion-col size="10" class="no-padding">
                <ion-item class="bluetext-map">{{booking?.pickup.add}}</ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
      </section> -->

      <!-- <ion-item>
        <img src="assets/images/marker.png">
        <ion-label class="ion-text-wrap ion-margin-start">
          {{booking?.pickup?.add}}
        </ion-label>
      </ion-item>
      <ion-fab right bottom class="ionFab">
        <button *ngIf="booking?.serviceType=='Pickup'"
          (click)="routePickup(booking?.pickup.add,booking?.drop.add,booking?.serviceType)">
          <ion-icon name="navigate"></ion-icon>
        </button>

      </ion-fab>

      <ion-item class="ion-padding-bottom">
        <ion-avatar>
          <img src="{{booking?.image_url}}" onerror="this.onerror=null;this.src='assets/images/notfound.png';"
            alt="avatar">
        </ion-avatar>

        <ion-label class="ion-text-wrap ion-margin-start">
          {{booking?.customer_name}}
        </ion-label>

        <ion-label slot="end">
          <ion-icon name="checkmark-circle"></ion-icon>
          {{booking?.status=='REVIEW'?'UNDER REVIEW':booking?.status }}
        </ion-label>
      </ion-item>

      <div class="input-wrapper">
        <ion-item>
          <ion-button class="btns">
            <ion-icon name="call-outline"></ion-icon>
            <h4> Contact</h4>
          </ion-button>

          <ion-button class="ion-margin-start btns">
            <ion-icon name="information-outline"></ion-icon>
            <h4> Help</h4>
          </ion-button>
        </ion-item>
      </div>

      <ion-button class="upt-btn" (click)="presentActionSheet()">
        Update Status
      </ion-button> -->

      <!-- <section class="driver-snippet">

        <div class="wrapper-driversnippet">
          <div class="help-box">
            <img src="assets/images/phone.png" (click)="giveCall()" alt="phone">
            <ion-label>Contact</ion-label>
          </div>

          <div class="help-box">
            <img src="assets/images/info.png" alt="help">
            <ion-label>Help</ion-label>
          </div>
          <ion-grid class="no-padding-top">
            <ion-row class="customer-icons">
              <ion-col class="centertext no-padding-top">
                <img src="assets/images/phone.png" (click)="giveCall()" alt="phone">
                Contact
              </ion-col>
              <ion-col (click)="getHelp()" class="centertext no-padding-top">
                <img src="assets/images/info.png" alt="help">
                Help
              </ion-col>
              <ion-col (click)="presentActionSheet()" class="centertext no-padding-top">
                <img src="assets/images/cancel.png" alt="cancel">

              </ion-col>
              <ion-col class="centertext">
                <img src="assets/images/change.png" alt="change">
                Change
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>


      </section> -->
    </div>
  </section>

  <ion-card class="ion-no-padding">
    <ion-card-content class="ion-no-margin ion-no-padding">
      <ion-item color="none" class="ion-no-margin ion-no-padding">
        <img class="ion-margin" src="assets/images/marker.png" />
        <ion-label style="font-size: 14px" class="ion-text-wrap ion-margin-start">
          {{booking?.pickup?.add}}
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="none">
        <ion-avatar>
          <img src="{{booking ? booking.image_url : 'assets/images/notfound.png'}}"
            onerror="this.onerror=null;this.src='assets/images/notfound.png';" alt="avatar" />
        </ion-avatar>

        <ion-label class="ion-text-wrap ion-margin-start">
          {{booking?.customer_name}}

          <ion-label style="font-size: 70%">
            <ion-icon name="checkmark-circle"></ion-icon>
            {{booking?.status=='REVIEW'?'UNDER REVIEW':booking?.status }}
          </ion-label>
        </ion-label>
        <!-- <ion-icon slot="end" style="font-size: 25px;" name="information-outline" class="ion-margin"></ion-icon> -->
        <ion-icon slot="end" style="font-size: 25px" name="call-outline" class="ion-margin" (click)="giveCall()">
        </ion-icon>
      </ion-item>
      <!-- <ion-item lines="none" color="none">

      </ion-item> -->
      <ion-button size="small" class="upt-btn ion-float-right" (click)="presentActionSheet()">
        Update Status
      </ion-button>
      <ion-button size="small" class="upt-btn ion-float-right" (click)="getHelp()">
        Help
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>