
// .container{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     align-self: stretch;
//     flex-wrap:  wrap;
//     align-content: flex-start;
//     justify-content: center;
// }
// .input-wrapper{
//     display: flex;
//     flex: 1 1 0%;
//     flex-direction: row;
//     align-items: center;
//     align-self: stretch;
//     text-overflow: ellipsis;
//     overflow: inherit;
//     box-sizing: border-box;
//     flex-wrap: wrap;
//     align-content: flex-start;
//     justify-content: center;
// }

// ion-button{
//     width: 116px;
//     height: 33px;

// h4{
//     font-size: 20px;
//     margin: 0 7px;
// }    
// ion-icon{
//     font-size: 23px;
// }
// }

// .upt-btn{
//     margin: 2%;
// }
// .wrapper-driversnippet{
//     display: flex;
//     margin: 0 59px 0 -27px;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-content: center;
//     justify-content: space-between;
//     align-items: center;
//     width: 150%;
// }
// .help-box{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-content: center;
//     justify-content: center;
//     align-items: center;
// }