<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon
          class="toggleButton ion-margin-top ion-margin-bottom"
          src="/assets/images/menu-outline.svg"
          (click)="ToggleMenuBar()"
        ></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="toptitle"
      ><span class="heavy">{{ title }}</span></ion-title
    >
  </ion-toolbar>
</ion-header>
