.toptitle {
  padding-right: 16% !important;
}
.support-section {
  padding-top: 15px;
  width: 90%;
  margin: 0 auto;
}
.support-section input {
  opacity: 1 !important;
  margin-bottom: 20 !important;
}
.support-section img {
  width: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
.supportpara {
  font-family: "PT Sans";
  font-size: 16px;
  color: whitesmoke;
  text-align: left;
  line-height: 22px;
  margin: 0;
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  margin-bottom: 10px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #f4f4f4;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  color: #2e2e2e;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 2rem;
  font-weight: normal;
  padding: 10px;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
.blue .tab-content {
  background: #fff;
  color: #919191;
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.tab-content p {
  margin: 0.5em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 10em;
}
