@import "../login/login.page.scss";
.bannerprofile {
  width: 100%;
  background: url("/assets/images/profileback.png") no-repeat;
  background-size: cover;
  padding-top: 20px;
  margin-bottom: 20px;
}
.bannerprofile img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
}
.bannerprofile p {
  color: #fff;
  margin: 0;
  padding: 5px 0 18px 0;
  font-family: "PT Sans";
  font-size: 23px;
  text-align: center;
}
.bannerprofile p span {
  font-size: 16px;
}
.profileformwrapper {
  @extend .formwrapper;
  width: 85%;
  padding-bottom: 30px;
}
.header{
  background-color: #1E1E1E;
}