<ion-header class="wow">
  <ion-toolbar style="color: white" color="headerblue">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title class="toptitle">JOB COMPLETED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<img class="review-logo" src="assets/images/supportlogo.png" alt="logo">-->
  <div class="rate">
    <h2 style="margin-top: 10%; color: white">
      {{customerRating ? "The passenger rated you with" : "You are not reviewed
      by the passenger"}}
    </h2>
    <!--<h2>You are not reviewed by the passenger</h2>-->
    <div class="ion-text-center">
      <ion-rating [rate]="customerRating" *ngIf="customerRating" readonly="true"></ion-rating>
    </div>

    <!-- <rating
      name="rating"
      *ngIf="customerRating"
      [(ngModel)]="customerRating"
      max="5"
      readOnly="true"
    ></rating> -->
  </div>
  <!-- <ion-card class="review-card-driver">
    <ion-card-content>
      Total Kilometres covered: <span class="spantext-color-review">{{tripDistance}}KM</span>
    </ion-card-content>
 </ion-card>-->
  <ion-card class="review-card-driver">
    <ion-card-content>
      <span class="text">Total Fare :</span>
      <span class="spantext-color-review">
        {{tripCost ? "$" + tripCost : " "}}</span>
    </ion-card-content>
  </ion-card>
</ion-content>