.review-logo {
  width: 60%;
  display: block;
  margin: 5% auto;
}
.rate {
  color: #ffae00;
  font-size: 25px;
  margin: 0 auto;
  width: auto;
  margin-bottom: 20px;
}
.rate ul {
  margin: 0 auto !important;
  padding: 0;
  display: block;
  width: 80%;
}
.spantext-color-review {
  color: #4267b2;
  font-weight: bold;
}
.review-card-driver {
  background: gray;
  font-size: 2rem;
  text-align: center;
}
.rate h2 {
  text-align: center;
  font-size: 1.4rem;
  color: #000;
  padding: 0;
  margin: 0;
}
.text{
  color: white;
}
.wow{
  background-color: #1E1E1E ;
}