<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-tabs #myTabs>

  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="md-bookmarks"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Current Jobs" tabIcon="md-bookmarks"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Past Jobs" tabIcon="md-bookmarks"></ion-tab>
</ion-tabs> -->

<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon src="/assets/images/home-outline.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="current-bookings">
      <ion-icon src="/assets/images/calendar-outline.svg"></ion-icon>
      <ion-label>Current Job</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon src="/assets/images/list-outline.svg"></ion-icon>
      <ion-label>Past Jobs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
