.heavy {
  font-weight: bold;
}
.bannerabout {
  width: 100%;
  padding-top: 180px;
  background: url("/assets/images/banner-about.jpg") no-repeat;
  position: relative;
  background-size: cover;
}
.aboutlogo {
  position: absolute;
  display: block;
  width: auto;
  margin: auto;
  top: 72%;
  left: 0;
  right: 0;
}
.headerabout {
  color: #2e2e2e;
  font-size: 18px;
  text-align: center;
  font-family: "PT Sans";
  padding-top: 13%;
}
.blueline {
  display: block !important;
  margin: 0 auto !important;
  width: auto !important;
  border-radius: 0 !important;
}
.aboutpara {
  font-family: "PT Sans";
  color: #919191;
  font-size: 16px;
  text-align: left;
  line-height: 18px;
  padding: 12px 20px 0 20px;
  margin: 0px;
}
.aboutpara span {
  color: #4267b2;
}
.ashrectangle {
  width: 90%;
  margin: 12px auto;
  background: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  padding: 12px;
  color: #2e2e2e;
  font-family: "PT Sans";
  font-size: 16px;
  text-align: left;
  line-height: 19px;
}
.liststyle {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}
.liststyle ul {
  margin: 0px;
  padding: 0px;
}
.liststyle ul li {
  list-style: none;
  font-family: "PT Sans";
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  color: #919191;
  padding-left: 9%;
  background: url("/assets/images/carbullet.png") no-repeat;
  margin-bottom: 20px;
}
.font {
  font-weight: bold;
  color: #737373;
}
.toggleButton{
  margin-left: 10px;
}

@media (min-width: 568px) {
  .headerabout {
    padding-top: 7%;
  }
}
.header{
  background-color: #1E1E1E;
}