.darkbutton {
  padding: 25px 110px;
  margin: 10px auto;
  display: block;
  background: #2e2e2e;
  font-weight: normal;
  text-transform: none;
  color: #fff;
  font-family: "PT Sans";
  font-size: 19px;
}

.back {
  background: url("/assets/images/background.png") repeat;
}
.loginimage {
  width: 30% !important;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.formwrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

.field {
  padding: 15px;
  background: #f4f4f4;
  border: 1px solid #d4d4d4;
  border-radius: 25px;
  color: #8d8d8d;
  font-family: "PT Sans";
  font-size: 16px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.blackbutton {
  @extend .darkbutton;
  width: 100%;
  margin-top: 15px;
  border-radius: 50px;
}
.clearbutton {
  display: block;
  margin: 0 auto;
  text-transform: none !important;
  height: 1.5em;
}
.buttonfont {
  @extend .clearbutton;
  font-size: 16px;
}

.lightgreenbutton {
  @extend .darkbutton;
  background: #09738d !important;
  margin-bottom: 25px !important;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 50px;
  white-space: nowrap;
  padding: 15px 32px;
}
.redbutton {
  @extend .darkbutton;
  background: #eb2020 !important;
  padding: 25px 95px !important;
  width: 100%;
}
.bluebutton {
  @extend .darkbutton;
  width: 100%;
  background: #3b5998 !important;
  margin-bottom: 25px !important;
}

.alert-md .alert-head {
  padding: 10px;
  text-align: center;
  color: #000;
  background: none;
  font-family: "PT Sans";
}
.alert-md .alert-title {
  font-size: 18px;
  text-transform: uppercase;
}

.alert-md .alert-button {
  padding: 0;
  margin: 0 auto;
  display: block;
}
.clearbutton-text {
  text-align: center;
  font-family: "PT Sans";
  font-size: 16px;
  color: #8d8d8d;
  width: 100%;
}

@media (min-width: 568px) {
  .loginimage {
    width: 15% !important;
  }
}
