<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-toolbar color="headerblue">
    <ion-title style="text-align: center"
      ><span class="heavy"></span
    ></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <section class="support-section">
    <h4 style="text-align: center; font-size: 35px">RideBidder</h4>
    <!-- <img src="assets/images/supportlogo.png"> -->
    <img class="loginimage" src="/assets/images/login.png" />
  </section>
  <section class="formwrapper">
    <form style="margin-top: 20px">
      <input class="field" type="text" name="Email" placeholder="Email " [(ngModel)]="email" />
      <input class="field" type="password" name="Password" placeholder="Password" [(ngModel)]="password" />
      <!-- <ion-button
        ion-button-round
        style="margin-bottom: 5%; width: 100%"
        color="dark"
        (click)="doLogin()"
      >
        Login
      </ion-button> -->

      <button class="lightgreenbutton login-btn" ion-button color="primary" (click)='doLogin()'>SIGN IN</button>

      <div class="clearbutton-text">
        <span (click)="resetPassword()" color="dark">Forgot Password?</span> |
        <span (click)="doRegistration()" color="primary">Register Now</span>
      </div>

      <!--<ion-grid>
				<ion-row>
					<ion-col>
						<button class="clearbutton buttonfont" ion-button color="dark" clear (click)='resetPassword()'>Forgot Password ?</button>
					</ion-col>
					<ion-col>
						<button class="clearbutton buttonfont"  ion-button color="primary" clear (click)='doRegistration()'>Register Now</button>
					</ion-col>
				</ion-row>
			</ion-grid>-->

      <!--<button class="redbutton" ion-button icon-left round (click)="loginSocial('Google')">
				<ion-icon name="logo-googleplus"></ion-icon>
				<span class="heavy">Login</span>&nbsp;With&nbsp;<span class="heavy">Google</span>
			</button>
			<button class="bluebutton" ion-button icon-left round (click)="loginSocial('Facebook')">
				<ion-icon name="logo-facebook"></ion-icon>
				<span class="heavy">Login</span>&nbsp;With&nbsp;<span class="heavy">Facebook</span>
			</button>-->
    </form>
  </section>
</ion-content>