<!--
  Generated template for the Registercustomer page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="headerblue">
    <!-- <button ion-button (click)="ToggleMenuBar()">
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title class="toptitle ion-text-center"
      ><span class="heavy">REGISTER DRIVER</span></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="support-section">
    <h4 style="text-align: center; font-size: 35px">RideBidder</h4>
    <!-- <img src="assets/images/supportlogo.png"> -->
    <section class="profileformwrapper">
      <form style="margin: 15px 20px">
        <input
          class="field"
          type="text"
          name="fullname"
          placeholder="Name"
          [(ngModel)]="fullname"
        />

        <input
          class="field"
          type="text"
          name="Email"
          placeholder="Email"
          [(ngModel)]="email"
        />
        <input
          class="field"
          type="password"
          name="Password"
          placeholder="Password"
          [(ngModel)]="password"
        />

        <input
          class="field"
          type="password"
          name="Confirm Password"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
        />
        <input
          class="field"
          type="text"
          name="Phone"
          placeholder="Contact Number"
          [(ngModel)]="phone"
        />
        <input
          class="field"
          type="text"
          name="City"
          placeholder="City"
          [(ngModel)]="cityname"
        />
        <!--	<input class="field" type="text" name="Vehicle Number" placeholder="Vehicle Number" [(ngModel)]="vehicle">-->
        <ion-button
          style="margin-bottom: 5%; width: 100%"
          color="dark"
          (click)="doRegistration()"
        >
          Register
        </ion-button>

        <div class="clearbutton-text">
          <span color="dark">Already have an account?</span> |
          <span (click)="goToSignin()" color="primary">Sign in here</span>
        </div>
      </form>
    </section>
  </section>
</ion-content>
