.bookings {
  width: 95%;
  margin: 0 auto;
}
.bookings img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.list-ios .item-block .item-inner {
  padding-right: 0;
}
.item-md.item-block .item-inner {
  padding-right: 0;
}
.bookings h5 {
  font-family: "PT Sans";
  font-size: 18px;
  text-align: left;
  color: #4267b2;
  padding-bottom: 3px;
  margin: 0;
}
.bookings p {
  margin: 0;
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  color: #2e2e2e;
  padding-bottom: 2px;
}
.bookings p span {
  font-weight: bold;
}

.bookings h3 {
  text-align:  right;
  font-family: "PT Sans";
  font-size: 24px;
  color: #2e2e2e;
  margin: 0;
  font-weight: bold;
}
.no-padding {
  padding: 0 !important;
}
.heavy {
  font-size: 13px !important;
}
span{
  color: #7878F1;
}
.card{
  margin-left: -0%;
  width: 100%;
}
