<header [title]="'PREVIOUS BOOKINGS'"></header>

<ion-content>
  <section class="bookings">
    <h2 *ngIf="bookingList.length==0" class="review-title">
      No booking history.
    </h2>
    <ion-card
      class="card"
      *ngFor="let booking of bookingList; let i = index;"
      (click)="openPreviousBooking(i)"
    >
      <ion-card-content class="ion-no-margin ion-no-padding">
        <ion-item color="none" class="ion-no-margin ion-no-padding">
          <ion-icon
            class="ion-margin"
            src="/assets/images/calendar-outline.svg"
          ></ion-icon>
          <ion-label>
            {{booking.tripdate.substring(8,10)}}{{booking.tripdate.substring(4,8)}}{{booking.tripdate.substring(0,4)}}
            {{booking.tripdate.substring(11,16)}}
          </ion-label>
          <ion-label slot="end">
            <h6>${{booking.trip_cost ? booking.trip_cost : "0"}}</h6>
          </ion-label>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none" color="none">
                <ion-avatar style="width: 60px; height: 60px">
                  <img
                    src="{{booking.image_url}}"
                    onerror="this.onerror=null;this.src='assets/images/notfound.png';"
                    alt=""
                  />
                </ion-avatar>
                <ion-label class="ion-margin">
                  <p class="ion-text-wrap" style="font-size: 15px">
                    <b style="color: rgb(120 120 241)"
                      >{{booking.serviceType}}</b
                    >
                  </p>
                  <p class="ion-text-wrap" style="font-size: 12px">
                    <b style="color: rgb(120 120 241)">Start : </b
                    ><span style="color: white">{{booking.pickupAddress}}</span>
                  </p>
                  <p class="ion-text-wrap" style="font-size: 12px">
                    <b style="color: rgb(120 120 241)">End : </b
                    ><span style="color: white">{{booking.dropAddress}}</span>
                  </p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
