.customcardheader {
  background: #222222;
  padding: 0px;
  margin-bottom: 10px;
}
.customcardheader-middle {
  text-align: center;
  font-family: "PT Sans";
  font-size: 17px;
  color: #fff;
  line-height: 35px;
}
.customcardheader-left,
.customcardheader-right {
  background: #2e4b86;
  @extend .customcardheader-middle;
}
.customcard {
  background: #1e1e1e;
  width: 93%;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}
.customcardbody img {
  width: 25%;
  border-radius: 50%;
  margin-bottom: 10px !important;
  display: block;
  margin: auto;
  border: 1px solid #8c8c8c;
}
.customcardbody h2 {
  text-align: center;
  margin: 0;
  color: #4267b2;
  font-weight: bold;
  font-size: 17px;
  padding: 0 0 5px 0;
  font-family: "PT Sans";
}
.customcardbody p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  font-family: "PT Sans";
}
.customcardbody p span {
  font-weight: bold;
}
.serviceType {
  color: #000;
  font-style: italic;
}

.marker {
  margin-right: 10%;
}
.loaction {
  font-size: 15px;
}
.marker img {
  padding-top: 0px !important;
}
.last-row {
  border-bottom: 1px dotted #000;
  padding-bottom: 10px;
  margin-bottom: 7px;
}
.detail {
  margin-left: 6%;
  color: #ccc7c7;
  font-size: 15px;
}
.next-row {
  color: #ccc7c7 !important;
}
.detail-card {
  // border:0px;
  margin-top: 0px;
  background-color: #fff;
}
.detail span {
  // color:#000;
}
.addOn {
  background-color: #4266b2;
  text-align: center;
  font-size: 20px;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
}
.addOn ion-icon {
  margin-top: -4px;
}
.bid-rate {
  font-size: 15px;
  text-align: center;
  margin: 7px;
}
.submit-bid {
  width: 94%;
  font-size: 15px;
  padding: 10px;
  background-color: #4266b2;
  color: #fff;
  margin-left: 3%;
  height: 50px;
  border-radius: 25px;
}
.cust-name {
  text-align: center;
  color: #000;
}
.bid-color {
  color: green !important;
}

.new {
  border: 1px solid yellow;
}

.blink {
  margin-top: -2px;
  margin-left: 25px;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
