// .bookings {
//   width: 100%;
//   margin: 0 auto;
// }
// .bookings img {
//   width: 100%;
//   display: block;
//   margin: 0 auto;
//   border-radius: 50%;
// }
// .list-ios .item-block .item-inner {
//   padding-right: 0;
// }
// /*.item-md.item-block .item-inner{padding-right: 0;}*/
// .bookings h4 {
//   font-family: "PT Sans";
//   font-size: 13px;
//   text-align: left;
//   color: #4267b2;
//   padding-bottom: 3px;
//   margin: 0;
//   padding-left: 2%;
// }
// .bookings p {
//   margin: 0;
//   font-family: "PT Sans";
//   font-size: 13px;
//   text-align: left;
//   color: #2e2e2e;
//   padding-bottom: 2px;
//   white-space: normal;
//   padding-top: 2%;
//   padding-left: 2%;
// }
// .bookings p span {
//   font-weight: bold;
//   color: #4267b2;
// }

// .bookings h3 {
//   text-align: right;
//   font-family:  "PT Sans";
//   font-size: 12px;
//   color: #2e2e2e;
//   margin: 0;
//   font-weight: bold;
// }
// .no-padding {
//   padding: 0 !important;
// }
