<header [title]="'BOOKINGS'"></header>

<!--<ion-content>
	<section class="bookings">
		<ion-list>
		  <ion-item class="no-padding" *ngFor="let booking of bookingList; let i = index;" (tap)="openActiveBooking(i)">
		  <ion-grid>
		  	<ion-row>
		  		<ion-col width-20><img src="{{booking.image_url}}" alt="Profile Image"></ion-col>
		  		<ion-col width-50>
		  			<h4>{{booking.tripdate | date:'medium'}}</h4>
		  			<p><span>Start</span> : {{booking.pickupAddress}}</p>
		  			<p><span>End</span> : {{booking.dropAddress}}</p>
		  		</ion-col>
		  		<ion-col><h3>{{booking.status}}</h3></ion-col>
		  	</ion-row>
		  </ion-grid>
		  </ion-item>
		</ion-list>
	</section>
</ion-content>-->

<ion-content>
  <!-- <section class="bookings">
    <h2 *ngIf="bookingList.length==0" class="review-title">No current bookings.</h2>
    <ion-list>
      <ion-item class="no-padding" *ngFor="let booking of bookingList  ; let i = index; "
        (click)="openActiveBooking(i)">
        <ion-grid>
          <ion-row>
            <ion-col size="2.5">
              <ion-avatar>
                <img src="{{booking.image_url}}" onerror="this.onerror=null;this.src='assets/images/notfound.png';"
                  alt="">
              </ion-avatar>
            </ion-col>
            <ion-col size="7">
              <h4><strong>{{booking.tripdate.substring(8,10)}}{{booking.tripdate.substring(4,8)}}{{booking.tripdate.substring(0,4)}}
                  {{booking.tripdate.substring(11,16)}}</strong></h4>
              <h4><strong>{{booking.serviceType}}</strong></h4>
              <p><span>Start</span> : {{booking.pickupAddress}}</p>
              <p *ngIf="booking.dropAddress"><span>End</span> : {{booking.dropAddress}}</p>
            </ion-col>
            <ion-col size="2.5">
              <h3>{{booking.status=='REVIEW'?'UNDER REVIEW':booking.status}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </section> -->

  <ion-card
    class="ion-no-padding"
    *ngFor="let booking of bookingList  ; let i = index;"
    (click)="openActiveBooking(i)"
  >
    <!-- <ion-card-header>
      <ion-item color="none">
        <ion-label>
          {{booking.tripdate.substring(8,10)}}{{booking.tripdate.substring(4,8)}}{{booking.tripdate.substring(0,4)}}
          {{booking.tripdate.substring(11,16)}}
        </ion-label>
        <ion-label slot="end">
          {{booking.status=='REVIEW'?'UNDER REVIEW':booking.status}}
        </ion-label>
      </ion-item>
    </ion-card-header> -->
    <ion-card-content class="ion-no-margin ion-no-padding">
      <ion-item color="none" class="ion-no-margin ion-no-padding">
        <ion-icon
          class="ion-margin"
          src="/assets/images/calendar-outline.svg"
        ></ion-icon>
        <ion-label>
          <!-- <ion-icon style="font-size: 20px;" name="calendar"></ion-icon> -->
          {{booking.tripdate.substring(8,10)}}{{booking.tripdate.substring(4,8)}}{{booking.tripdate.substring(0,4)}}
          {{booking.tripdate.substring(11,16)}}
        </ion-label>
        <ion-label slot="end">
          {{booking.status=='REVIEW'?'UNDER REVIEW':booking.status}}
        </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" color="none">
              <ion-avatar style="width: 60px; height: 60px">
                <img
                  src="{{booking.image_url ? booking.image_url : 'assets/images/notfound.png'}}"
                  onerror="this.onerror=null;this.src='assets/images/notfound.png';"
                  alt=""
                />
              </ion-avatar>
              <ion-label class="ion-margin">
                <p class="ion-text-wrap" style="font-size: 15px">
                  <b style="color: rgb(120 120 241)">{{booking.serviceType}}</b>
                </p>
                <p class="ion-text-wrap" style="font-size: 12px">
                  <b style="color: rgb(120 120 241)">Start : </b
                  >{{booking.pickupAddress}}
                </p>
                <p class="ion-text-wrap" style="font-size: 12px">
                  <b style="color: rgb(120 120 241)">End : </b
                  >{{booking.dropAddress}}
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
